{% extends "template.html" %}
{% block content %}
    <div class=" row eighty-percenter text-center align-items-center  g-0">
        <div class="col-12 px-5">
            <h1>WELCOME TO THE FACTORY SIM</h1>
            <br>
            <P class="h5 ">THIS IS A LITTLE SIMULATION OF AN ERP SYSTEM THAT RUNS A FACTORY.</P>
            <br>
            <P class="h5 ">THERE ARE 5 MODULES THAT YOU CAN CONTROL FROM THE NAVBAR. 9 DIFFERENT PRODUCTS FOR YOUR FACTORY ARE ALREADY RANDOMLY GENERATED FOR YOU TO USE. USING THE MODULES YOU CAN BUY RAW MATERIALS MANUFACTURE PRODUCTS AND SELL THEM FOR PROFIT</P>
            <br>
            <h5>YOU CAN START BY USING THE DEPARTMENT BUTTONS</h5>
            <h5>END DAY BUTTON MOVES THE CALENDER ONE DAY AHEAD</h5>
            <h5>USE HIGH SCORE BUTTON TO RECORD YOUR SCORE</h5>
        </div>
    </div>
{% endblock %}